out
src/backup
src/lib
inc/DirectX_Borland_D9-10/backup
inc/DirectX_Borland_D9-10/lib
inc/LazSerial/backup
inc/LazSerial/lib
inc/lua/backup
inc/lua/lib
inc/synapse40/backup
inc/synapse40/lib
inc/uniqueinstance-1.0/backup
inc/uniqueinstance-1.0/lib
inc/XPL_SDK213_XPLM/backup
inc/XPL_SDK213_XPLM/lib